{% extends "base.html.twig" %}

{% block title %}Book Form
{% endblock %}

{% block body %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
		<div class="form-book">
            <h1>Author Form</h1>
			{{ form(book_form) }}
			</div>
		{% endif %}

	{% endblock %}
